<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luke's Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <header>
        <h1>Luke's Tech Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#" id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Your Dashboard</h2>
         <li><a href="/dashboard/new">Create New Blog Post</a></li>
        {{{ body }}}
    </main>
    <footer>
        <h2>Add Luke's Footer Details Here...</h2>
    </footer>
    <script src="/js/logout.js"></script>
</body>

</html>